<html ng-app="listaTelefonica">
  <head>
    <title>Lista Contatos</title>
    <script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-messages.js"></script>
    <script src ="app/js/ListController.js"></script>
    <link rel="stylesheet" href="app/css/ListController.css" />
    <link rel="stylesheet" href="app/css/bootstrap/bootstrap.css" />
  </head>
  <body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
      <h4>{{app}}</h4>

      <table class="table">
        <tr>
          <th></th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Operadora</th>
          <th>Cor</th>
          <th>Data</th>
        </tr>
        <tr
          ng-class="{selecionado :contato.selecionado}"
          ng-repeat="contato in contatos"
        >
          <td>
            <input
              class="check_selecionado"
              type="checkbox"
              ng-model="contato.selecionado"
            />
          </td>
          <td>{{contato.nome | uppercase}}</td>
          <td>{{contato.telefone}}</td>
          <td>{{contato.operadora.nome}}</td>
          <td>
            <div
              class="cor_contato"
              ng-style="{'background-color':contato.cor}"
            ></div>
          </td>
          <td>{{contato.data | date:'dd/MM/yy HH:mm'}}</td>
        </tr>
      </table>
      <hr />
      <form name="contatoForm">
        <input
          class="form-control"
          type="text"
          ng-model="contato.nome"
          placeholder="Nome"
          ng-required="true"
          name="nome"
          ng-minlength="10"
        />
        <input
          class="form-control"
          type="text"
          ng-model="contato.telefone"
          placeholder="Telefone"
          ng-required="true"
          name="telefone"
          ng-pattern="/^\d{5}-\d{4}$/"
        />
        <select
          class="form-control"
          ng-model="contato.operadora"
          ng-options="operadora.nome for operadora in operadoras"
        >
          <option value="">Seleciona uma operadora</option>
        </select>
      </form>

      <div ng-messages="contatoForm.nome.$error" class="alert alert-danger" ng-show="contatoForm.nome.$dirty">
        <div ng-message="required && contatoForm.nome.$dirty">
          Por favor, preencha o nome !
        </div>
        <div ng-message="minlength">
          O campo deve ter no mínimo 10 caracteres.
        </div>
      </div>

      <div ng-messages="contatoForm.telefone.$error" class="alert alert-danger" ng-show="contatoForm.nome.$dirty">
        <div
          ng-message="required && contatoForm.telefone.$dirty"
        >
          Por favor, preencha o telefone !
        </div>
        <div 
          ng-message="pattern"
        >
          Por favor, preencha o campo telefone no seguinte formato
          99999-99999 !
        </div>
      </div>

      <button
        class="btn btn-primary btn-block"
        ng-click="adicionaContato(contato)"
        ng-disabled="contatoForm.$invalid"
      >
        Adicionar Contato
      </button>
      <button
        class="btn btn-danger btn-block"
        ng-click="apagarContato(contatos)"
        ng-if="isContatoSelecionado(contatos)"
      >
        Apagar Contato
      </button>
    </div>
    <div ng-include="'app/componentes/footer.html'"></div>
  </body>
</html>
